/CopyMonoXTheme.cmd
/4.7/Modern/App_Browsers

/4.7/Modern/App_CustomLocalization

/4.7/Modern/App_Templates/Default

/4.7/Modern/App_Templates/DefaultAdmin/PagerTemplates/Default.ascx
/4.7/Modern/App_Templates/DefaultAdmin/PagerTemplates/PostbackPager.ascx
/4.7/Modern/App_Templates/DefaultAdmin/SocialNetworkingTemplates/FileGallery.htm

/4.7/Modern/App_Templates/Mobile/BlogTemplates/BlogComments.htm
/4.7/Modern/App_Templates/Mobile/BlogTemplates/BlogList.htm
/4.7/Modern/App_Templates/Mobile/BlogTemplates/BlogPost.htm
/4.7/Modern/App_Templates/Mobile/ChromeTemplates/Standard.htm
/4.7/Modern/App_Templates/Mobile/PagerTemplates/Default.ascx
/4.7/Modern/App_Templates/Mobile/PagerTemplates/DynamicPager.ascx
/4.7/Modern/App_Templates/Mobile/SocialNetworkingTemplates/Comments.htm
/4.7/Modern/App_Templates/Mobile/SocialNetworkingTemplates/FriendList.htm
/4.7/Modern/App_Templates/Mobile/SocialNetworkingTemplates/InvitationList.htm
/4.7/Modern/App_Templates/Mobile/SocialNetworkingTemplates/WallNotes.htm

/4.7/Modern/App_Themes/Common

/4.7/Modern/App_Themes/Default

/4.7/Modern/App_Themes/DefaultAdmin

/4.7/Modern/App_Themes/Installer

/4.7/Modern/App_Themes/Mobile

/4.7/Modern/MonoX/Admin

/4.7/Modern/MonoX/Installer

/4.7/Modern/MetaWeblog.ashx
/4.7/Modern/ModernTheme.sln
/4.7/Modern/MonoX/CaptchaHandler.ashx
/4.7/Modern/MonoX/Code/ContentSharing/AddThis/AddThisCode.htm
/4.7/Modern/MonoX/Code/ContentSharing/AddThis/AddThisCodeCount.htm
/4.7/Modern/MonoX/Code/ContentSharing/AddThis/AddThisCodeSharecount.htm
/4.7/Modern/MonoX/Code/ContentSharing/AddThis/AddThisCodeShort.htm
/4.7/Modern/MonoX/Code/ContentSharing/TellAFriend/TellAFriendCode.htm
/4.7/Modern/MonoX/Code/PrivacyManager/PrivacyEditorScript.js
/4.7/Modern/MonoX/Code/SiteMap/SiteMap.ashx
/4.7/Modern/MonoX/OpenSocial/OAuth.ashx
/4.7/Modern/Portal.csproj
/4.7/Modern/ThemeAutomaticUpdate.cmd
/4.7/Modern/packages.config
/4.7/Modern/packages/repositories.config
/4.7/Modern/web.config
/4.7/Modern/wlwmanifest.xml

/4.7/Modern/MonoX/Scripts

/4.7/Modern/bin

/4.7/Modern/obj/Debug

/4.7/Modern/packages/MonoX.Controls.ValidationHandler.1.0.0-beta02

/4.7/Modern/MonoX/Mobile

/4.7/Modern/MonoX/*.ashx
