@font-face {
    font-family: 'Source Bold';
    src: url('../Fonts/SourceSansPro-Bold-webfont.eot');
    src: url('../Fonts/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/SourceSansPro-Bold-webfont.woff') format('woff'),
         url('../Fonts/SourceSansPro-Bold-webfont.ttf') format('truetype'),
         url('../Fonts/SourceSansPro-Bold-webfont.svg#SourceSansProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Light';
    src: url('../Fonts/SourceSansPro-Light-webfont.eot');
    src: url('../Fonts/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/SourceSansPro-Light-webfont.woff') format('woff'),
         url('../Fonts/SourceSansPro-Light-webfont.ttf') format('truetype'),
         url('../Fonts/SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Regular';
    src: url('../Fonts/SourceSansPro-Regular-webfont.eot');
    src: url('../Fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('../Fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('../Fonts/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}